/*Home*/
.img_home_hot{
	width: 150px;
	height: 150px;
	object-fit: cover;
}
.img_home_hots{
	width: 67px;
	height: 70px;
	object-fit: cover;
}
.img_home_hotss{
	width: 270px;
	height: 150px;
	object-fit: cover;
}
.footer-beauty{
	background-color:#1accfd;
}